*{
    margin:0;
    padding: 0;
}

.btn{
    width: 30vw;
    height: 3vh;
}

.win{
    width: 100vw;
    height: 100vh;
    .btn_group_f{
        
        #bagProductionDetailBtn{
        
        }
    }
    
   
}